.sphereCard {
  display: flex;
  flex-direction: row-reverse;
  max-width: none;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sphereCard__image {
  width: 100px;
  height: 100px;
}

.sphereCard__text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #797979;
}

@media screen and (max-width: 768px) {
  .sphereCard {
    justify-content: center;
  }
  .sphereCard__content {
    text-align: center;
  }
}