.contactsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.contactsPage__title-container {
  width: 100%;
  background-color: var(--blue-main-color);
  padding: 30px 155px;
  margin: 0 0 40px;
}

.contactsPage__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--white-main-color);
  text-transform: uppercase;
  margin: 0 auto;
}

.contactsPage__content {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .contactsPage__content {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 800px) {
  .contactsPage__content {
    flex-direction: column;
    align-items: center;
  }
  .contactsPage__title-container {
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }
}