.removeBtn {
  border: 1px solid #000122;
  border-radius: 10px;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  color: #000122;
  background-color: transparent;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

/* .removeBtn::after {
  content: '✖';
} */

.removeBtn:hover {
  background-color: #000122;
  color: white;
}