.nav_burger_menu {
  position: fixed;
  top: 35px;
  right: 0;
  z-index: 2;
  height: 100vh;
  padding: 10px 20px 0 20px;
  background-color: var(--white-main-color);
  display: flex;
  flex-direction: column;
  transform: translateX(250px);
  transition: transform 1s ease-in-out;
}

.nav_burger_menu.active {
  transform: translateX(0);
}

.nav_burger_menu .nav_links .dropdown {
  float: none;
  padding: 0;
}