.contactsBtn {
    background-color: var(--aquamarine-main-color);
    border: none;
    border-radius: 3px;
    font-weight: normal;
    color: var(--white-main-color);
    font-family: inherit;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 6px 12px;
    margin-left: 20px;
    width: fit-content;
    text-transform: uppercase;
    transition: background-color .2s ease-in-out;
}

.contactsBtn:hover {
    text-decoration: none;
    background-color: var(--orange-main-color);
  }