@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./colors.css');

body {
  font-family: 'Inter', sans-serif !important;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif !important;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

::selection {
  background: var(--orange-main-color);
  color: var(--white-main-color);
}

::-moz-selection {
  background: var(--orange-main-color);
  color: var(--white-main-color);
}

a {
  color: var(--blue-main-color);
}

a:hover {
  color: var(--orange-main-color);
}

p {
  line-height: 22px
}