.carousel {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.carousel__title {
  color: var(--grey-font-color);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.4;
  text-align: center;
}

.carousel__container {
  max-width: 100%;
  margin: 30px auto;
  overflow: hidden;
}
