.preview {
  width: 100%;
  margin: 40px auto 60px;
  height: 355px;
  padding: 0;
}

.carousel .slider-wrapper .slide {
  height: 355px;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mainSlider__overlay {
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 5px);
  z-index: 10;
  background-color: var(--dark-blue-navbar-color);
  opacity: 0.35;
}

.mainSlider__title {
  color: var(--white-main-color);
  letter-spacing: 5px;
  font-size: 4vw;
  line-height: 1.428571429;
  position: absolute;
  z-index: 100;
  display: block;
  width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
}

.mainSlider__title span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 15s infinite linear;
  -moz-animation: scroll 15s infinite linear;
  animation: scroll 15s infinite linear;
}

@media screen and (max-width: 800px) {
  .preview {
    height: 250px;
  }

  .carousel .slider-wrapper .slide {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .preview {
    height: 150px;
    margin: 30px auto 0;
  }

  .carousel .slider-wrapper .slide {
    height: 150px;
  }
}
