.contactsPlateGroup {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 490px;
}

.plate-link {
  color: var(--grey-font-color);
}

.plate-link:hover {
  color: var(--orange-main-color);
}

@media screen and (max-width: 800px) {
  .contactsPlateGroup {
    width: 300px;
    margin-bottom: 30px;
  }
}
