.aboutProject {
  max-width: 945px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px 30px;
}

.aboutProject__title {
  color: var(--grey-font-color);
  font-weight: 300;
  line-height: 1.5;
  font-size: 30px;
  text-align: center;
  margin: 0 0 40px 0;
}

.aboutProject__list-item {
  margin-bottom: 10px;
  height: auto;
}

.aboutProject__list-container {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.aboutProject__list-btn {
  width: 100%;

  background-color: var(--white-main-color);
  padding: 10px 15px;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
  text-align: left;
}

.aboutProject__panel-gruop {
  width: 100%;
}

.aboutProject__panel {
  width: 100%;
  border: 1px solid var(--grey-border-color);
  transition: border .2s ease-in-out;
}

.aboutProject__panel:hover {
  border: 1.5px solid var(--orange-main-color);
}

.aboutProject__list-text {
  margin: 0;
  color: var(--grey-font-color);
  font-size: 14px;
  line-height: 22px;

  border-top: none;
}

.aboutProject__list-text_opened {
  padding: 15px;
  visibility: visible;
  height: auto;
  overflow: none;
  opacity: 1;
}
