.aboutProject {
  max-width: 945px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px 30px;
}

.aboutProject__title {
  color: var(--grey-font-color);
  font-weight: 300;
  line-height: 1.5;
  font-size: 30px;
  text-align: center;
  margin: 0 0 40px 0;
}
