@media (max-width: 768px) {
  .navbar-toggle {
      margin-top: 30px;
  }

  .head-section .navbar-collapse  ul.navbar-nav {
      float: none;
      margin-left: 0;
  }

  .head-section .nav li a:hover,
  .head-section .nav li a:focus,
  .head-section .nav li a.dropdown-toggle:focus,
  .head-section .nav li a.dropdown-toggle .dropdown-menu li a:hover,
  .head-section .nav li.active a,
  .head-section .dropdown-menu li a:hover {
      color: #fff !important;
  }

  .head-section .navbar-nav > li {
      padding: 0;
      margin-bottom: 2px;
  }

  .head-section .nav li ul.dropdown-menu li a {
      margin-left: 0px;
      color: #999!important; ;
  }

  .head-section .nav li .dropdown-menu li a:hover, .head-section .nav li .dropdown-menu li.active a {
      color: #fff !important;
  }

  .navbar-header {
      float: none;
      text-align: center;
      width: 100%;
      margin: 10px 0;
  }

  .navbar-brand {
      float: none;

  }
}


@media (max-width: 480px) {

  .head-section .navbar {
      min-height: 60px;
  }

  .navbar-toggle {
      margin-right: -10px;
  }

  .head-section .nav li .dropdown-menu li a:hover {
      color: #48C9B0 !important;
  }

  .navbar-brand {
      margin-top: 10px !important;
      float: left !important;
  }
}
