head-section {
  border-bottom: 1px solid var(--white-main-color);
}

.head-section .navbar {
  margin-bottom: 0;
}

.navbar-default {
  border: none
}

.navbar-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--grey-border-color) !important;
  margin: 30px 0 0 0 !important;
  padding: 0 !important;
  transition: all .2s ease-in-out;
}

.navbar-toggle:hover {
  background-color: var(--grey-bg-color) !important;
}


.navbar-toggle .icon-bar {
  height: 3px !important;
  border-radius: 5px !important;
  background-color: var(--grey-border-color) !important;
  transition: background-color .2s ease-in-out;
}

.navbar-brand {
  color: var(--blue-main-color);
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  margin: 10px 0;
}

.navbar-brand img {
  width: 120px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

.head-section .navbar-collapse ul.navbar-nav {
  float: right;
  margin-right: 0;
  z-index: 199;
  padding: 20px 0;
}

.navbar-collapse {
  margin: 0 auto !important;
}

.head-section .navbar-default {
  background-color: var(--white-main-color);
}

.head-section .nav li a,
.head-section .nav li.active ul.dropdown-menu li a {
  color: var(--grey-font-color);
  font-size: 14px;
  font-weight: 300;
  background: none;
}

ul.dropdown-menu {
  border: none
}

.head-section .nav li a:hover,
.head-section .nav li a:focus,
.head-section .nav li.active a,
.head-section .nav li.active a:hover,
.head-section .nav li a.dropdown-toggle:hover,
.head-section .nav li a.dropdown-toggle:focus,
.head-section .nav li.active ul.dropdown-menu li a:hover,
.head-section .nav li.active ul.dropdown-menu li.active a {
  color: var(--white-main-color);
  background-color: var(--dark-blue-navbar-color);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar {
  display: flex;
  align-items: center;
}

.head-section .navbar {
  min-height: 85px
}

.head-section .navbar-nav>li {
  padding: 15px 0;
}

.head-section ul.navbar-nav li:last-child() {
  margin-left: 10px !important
}

.head-section .navbar-nav>li>a {
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 3px;
  line-height: 30px;
  transition: all .3s ease;
}

#lang {
  height: 25px;
  position: fixed;
  z-index: 10;
  top: 60px;
  right: -10px;
  transform: translateX(-50%);
  visibility: visible;
}

#lang ul {
  display: flex;
  list-style: none;
  padding: 0;
}

#lang li {
  width: 25px;
  margin: 0 5px;
}

#lang a {
  display: block;
  height: 25px;
  width: 100%;
  float: left;
  margin-right: 4px;
  border-radius: 50%;
  opacity: 0.5;
}

#langru a:link {
  background: url('../../../assets/img/lang/langru.jpg');
  background-position: top;
}

#languz a:link {
  background: url('../../../assets/img/lang/languz.jpg');
  background-position: top;
}

#langru a:hover {
  background: url('../../../assets/img/lang/langru.jpg');
  background-position: bottom;
  opacity: 1;
}

#languz a:hover {
  background: url('../../../assets/img/lang/languz.jpg');
  background-position: bottom;
  opacity: 1;
}

#langruactive a {
  background: url('../../../assets/img/lang/langru.jpg');
  background-position: bottom;
  opacity: 0.7;
}

#languzactive a {
  background: url('../../../assets/img/lang/languz.jpg');
  background-position: bottom;
  opacity: 0.7;
}
